$default_height: 40px
$default_padding-top: 20px
$default_text-align: center

$default_background-color: #000
$default_color: #FFF

$github_background-color: #333
$github_color: #F1F1F1

$linkedin_background-color: #1B86BC
$linkedin_color: #F2F2F2

$twitter_background-color: #00ABF0
$twitter_color: #F3F3F3

$skins: default $default_background-color $default_color, github $github_background-color $github_color, linkedin $linkedin_background-color $linkedin_color, twitter $twitter_background-color $twitter_color

// abstract the index of `nth(array, index)` with a human named method
@function class-name-for($skin)
  @return nth($skin, 1)

@function background-color-for($skin)
  @return nth($skin, 2)

@function color-for($skin)
  @return nth($skin, 3)

.each-nth-function
  @each $skin in $skins
    .#{class-name-for($skin)}
      background-color: background-color-for($skin)
      color: color-for($skin)
      height: $default_height
      padding-top: $default_padding-top
      text-align: $default_text-align
