$default-height: 40px
$default-padding-top: 20px
$default-text-align: center

$skins:              github    linkedin    twitter
$background-colors:  #333      #1B86BC     #00ABF0
$colors:             #EEE      #DDD        #CCC

@function index_for($skin)
  // returns the index of the passed name of item on matrix
  @return index($skins, $skin)

@function background_color_for($skin)
  @return nth($background-colors, index_for($skin))

@function color_for($skin)
  @return nth($colors, index_for($skin))

.each-nth-function-index
  @each $skin in $skins
    .#{$skin}
      background-color: background_color_for($skin)
      color: color_for($skin)
      height: $default-height
      padding-top: $default-padding-top
      text-align: $default-text-align
