<h2>none</h2>

<div class="none">
  <div class="github">http://github.com/wbotelhos</div>
  <div class="linkedin">http://linkedin.com/in/wbotelhos</div>
  <div class="twitter">http://twitter.com/wbotelhos</div>
</div>

<h2>each + nth</h2>

<div class="each-nth">
  <div class="github">http://github.com/wbotelhos</div>
  <div class="linkedin">http://linkedin.com/in/wbotelhos</div>
  <div class="twitter">http://twitter.com/wbotelhos</div>
</div>

<h2>each + nth + function</h2>

<div class="each-nth-function">
  <div class="github">http://github.com/wbotelhos</div>
  <div class="linkedin">http://linkedin.com/in/wbotelhos</div>
  <div class="twitter">http://twitter.com/wbotelhos</div>
</div>

<h2>each + nth + function + index</h2>

<div class="each-nth-function-index">
  <div class="github">http://github.com/wbotelhos</div>
  <div class="linkedin">http://linkedin.com/in/wbotelhos</div>
  <div class="twitter">http://twitter.com/wbotelhos</div>
</div>
