<!DOCTYPE html>

<html>
<head>
  <title>http://wbotelhos.com/Criando Template SASS Com Function Nth e Index</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <%= yield %>
</body>
</html>
