<!DOCTYPE html>

<html>
<head>
  <title>http://wbotelhos.com/criando-templates-sass-com-function-nth-e-index</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <%= yield %>
</body>
</html>
